body {
  background-color: crimson;  
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 { 
    font-family: "Honk", system-ui;
}

span {
    color: darkgray;
}

h2 {
     font: size 40px; 
     color:  blue;
}

li {
    font-size:medium;
    color:gold;
}

p {
    font-size: large;
    color: silver;
}

h3 {
    font-size: large;
    color: teal;
}


body {
    text-decoration: underline;
}

body {text-align: left;}

                h1 {
                text-align: left;
                }

h2 {
    text-align: left;
}

                h3 {
                    text-align: right;    

                
  

