body {
  background-color: crimson;  
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}


h1 { 
    font-family: "Honk", system-ui;
}

span {
    color: darkgray;
}
