* {
  font-size: 100%;
  /* margin: 50px; */
  line-height: 1;
   box-sizing: border-box;
  border: 10px solid red;
}

* {
  /* margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 0; */
  margin: 0 auto;
}

* {
        /* padding: 30px; */
    border-bottom: 1px solid black;
    border: 1px dashed red;
    /* width: 500px;
    height: 400px; */
}

.container {
  max-width: 1000px;
}

body {
  background-color: crimson;  
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  background-image: url(images/fitness-and-wellness.jpg\ 1.jpg);
}

.banner {
  height: 350px;
background-image: url(images/wellness.jpg);
}
h1 { 
    font-family: "Honk", system-ui;
}

span {
    color: darkgray;
}

h2 {
     font: size 40px; 
     color:  blue;
}

li {
    font-size:medium;
    color:gold;
}

p {
    font-size: large;
    color: silver;
}

h3 {
    font-size: large;
    color: teal;
}


body {
    text-decoration: underline;
    text-align: left;
}

h1 {
 text-align: left;
}

h2 {
    text-align: left;
}

h3 {
    text-align: right;    
}

  